/* Apply a dark background and white text color to the whole page */
body {
    background-color: #212121;
    color: #D3D3D3;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

/* Styling for the ruler line */
.ruler-line {
    border: 0; /* Remove the default border */
    border-top: 2px solid #D3D3D3; /* Create the line with the desired color */
    width: 90%; /* Make the line span 90% of the page width */
    margin: 10px auto; /* Center the line and give some space around it */
}

/* Style each section to add spacing */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 5px;
}

/* Center the footer text */
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #aaaaaa; /* Optional: slightly lighter color for footer text */
}

/* Styling for introduction section icons */
.culture-icons {
    display: flex;
    justify-content: center;
    gap: 100px; /* space between icons */
    margin-top: 20px;
}

.icon {
    text-align: center;
    font-size: 40px; /* size of the icons */
}

.icon p {
    font-size: 14px;
    margin-top: 10px;
    color: white;
}
